/* Basic Structure */
    body { 
        font-family: sans-serif; 
        line-height: 1.5; 
        margin: 0; 
        padding: 0; 
    }

    header, footer { 
        background: #f4f4f4; 
        padding: 20px; 
    }

    nav a { 
        margin-right: 15px; 
        text-decoration: none; 
        color: #333; 
    }

    .container { 
        padding: 20px; 
        max-width: 1200px; 
        margin: auto; 
    }

    h1, h2, h3 { 
        margin-top: 30px; 
    }

    .section { 
        margin-bottom: 40px; 
    }

    label { 
        display: block; 
        margin-top: 10px; 
    }

    input, select, textarea { 
        width: 100%; 
        padding: 8px; 
        margin-top: 5px; 
    }

    button { 
        padding: 10px 20px; 
        margin-top: 15px; 
        cursor: pointer; 
    }


/* HEADER */

 header {
        background: white;
        color: black;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header .logo {
        font-size: 28px;
        font-weight: bold;
    }

    nav a {
        color: black;
        text-decoration: none;
        margin: 0 15px;
        font-size: 16px;
        transition: text-shadow 0.3s ease-in-out;
    }

    .button-header {
        background: rgb(185, 23, 23);
        padding: 12px 28px;
        color: white;
        font-style: italic;
        text-decoration: none;
        font-weight: bold;
        border-radius: 14px;
    }



/* FOOTER */
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }

    .footer-section {
        margin: 20px;
    }

    .footer-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-links p, .footer-info p {
        margin: 8px 0;
        font-size: 16px;
    }

/* BOOK NOW Button */
    .book-now-button {
        background: red;
        height: 100px;
        padding: 30px 60px;
        border-radius: 35px;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Division lines */
    .thick-line {
        width: 80%;
        height: 6px;
        background: #9B2018;
        margin: 50px;
    }

       .thin-line {
        width: 80%;
        height: 3px;
        background: #9B2018;
        margin: 50px;
    }

    /* End Lorem */
    .footer-text {
        color: white;
        text-align: center;
        padding: 30px 40px;
        font-size: 16px;
        background: #333333;
    }

/* Rooms page */

    .drop-button {
    background-color: #E7E7E7;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    }

    .drop-down {
    position: relative;
    display: inline-block;
    }

    .drop-down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .drop-down-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    .drop-down-content a:active {background-color: #E7E7E7;}

    .drop-down:active .drop-down-content {display: block;}

    .drop-down:active .drop-button {background-color: #E7E7E7;}

    /* rooms sections */

     .image-box {
        position: relative;
        width: 100%;
        display: flex;
        gap: 30px;
    }

    .main-image {
        width: 60%;
        border-radius: 4px;
    }

     .label-box {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background: #fff;
        padding: 15px 25px;
        border-radius: 4px;
    }

    .label-box h2 {
        margin: 0;
        font-size: 26px;
        font-weight: bold;
    }

    .label-box small {
        font-size: 14px;
        color: grey;
    }

        .slider-arrows {
        position: absolute;
        left: 600px;
        bottom: 20px;
        display: flex;
        gap: 8px;
    }

    .slider-arrows div {
        background: white;
        padding: 8px 14px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid whitesmoke;
    }

   


/* Booking page */

    
   
