body { 
    font-family: sans-serif; 
    line-height: 1.5; 
    margin: 0; 
    padding: 0; 
}

header, footer { 
    background: #f4f4f4; 
    padding: 20px; 
}

nav a { 
    margin-right: 15px; 
    text-decoration: none; 
    color: #333; 
}

.container { 
    padding: 20px; 
    max-width: 900px; 
    margin: auto; 
}

h1, h2, h3 { 
    margin-top: 30px; 
}

.section { 
    margin-bottom: 40px; 
}

label { 
    display: block; 
    margin-top: 10px; 
}

input, select, textarea { 
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
}

button { 
    padding: 10px 20px; 
    margin-top: 15px; 
    cursor: pointer; 
}

/* HEADER */

 header {
        background: white;
        color: black;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header .logo {
        font-size: 28px;
        font-weight: bold;
    }

    nav a {
        color: black;
        text-decoration: none;
        margin: 0 15px;
        font-size: 16px;
        transition: text-shadow 0.3s ease-in-out;
    }

    .button-book {
        background: rgb(185, 23, 23);
        padding: 12px 28px;
        color: white;
        font-style: italic;
        text-decoration: none;
        font-weight: bold;
    }

/* BODY */
    body {
        font-family: sans-serif; 
        line-height: 1.5; 
        margin: 0; 
        padding: 0; 
    
        color: black;
    }

/* Top r e d line */
      .top-line {
        width: 80%;
        height: 3px;
        background: #9B2018;
        margin: 50px;
    }

/* FOOTER */
    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }

    .footer-section {
        margin: 20px;
    }

    .footer-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-links p, .footer-info p {
        margin: 8px 0;
        font-size: 16px;
    }

    /* BOOK NOW Button */
    .book-now-button {
        background: red;
        padding: 30px 60px;
        border-radius: 35px;
        font-size: 24px;
        font-weight: bold;
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    /* Bottom r e d line */
    .bottom-line {
        width: 80%;
        height: 6px;
        background: #9B2018;
        margin: 50px;
    }

    /* End Lorem */
    .footer-text {
        color: white;
        text-align: center;
        padding: 30px 40px;
        font-size: 16px;
        background: #333333;
    }